.root {
    display: flex;
    justify-content: center; /* centraliza os filhos horizontalmente */
    align-items: center; /* centraliza verticalmente */
    padding: 0 20px;
    height: 256px;
    background-color: #fff;
    position: relative; /* para posicionar o logo absolutamente em relação ao header */
}

.root > :first-child {
    position: absolute;
    left: 20px; /* ajuste conforme necessário */
}

.root > :last-child {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem; /* Tamanho aproximado de h1 */
    font-weight: bold;
    margin: 0;
    padding: 0;
}